
<table>
  <caption>Actual courses of main currency on {{ourDate | date}}</caption>
  <tr><th>Currency</th><th>Buy</th><th>Sale</th></tr>
  <tr><td>USD</td><td>{{currencyValue[2].buy}}</td><td>{{currencyValue[2].sale}}</td></tr>
  <tr><td>EUR</td><td>{{currencyValue[0].buy}}</td><td>{{currencyValue[0].sale}}</td></tr>
  <tr><td>RUR</td><td>{{currencyValue[1].buy}}</td><td>{{currencyValue[1].sale}}</td></tr>
  <tr><td>BTC</td><td>{{currencyValue[3].buy}}</td><td>{{currencyValue[3].sale}}</td></tr>
</table>
